@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body{
 background-color: rgba(26, 11, 46, 1);
}
/* navbar design */
.navbar{
  /* max-width: 1200px; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 30px;
  align-items: center;
}
.navbar>span{
  margin-right: 5px;
  color: antiquewhite;
  margin-top: 25px;
  font-size: 24px;
  display: none;
}
.menu-section{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  
}
.menu-section p{
  font-size: 1rem;
  color:  rgba(255, 255, 255, 1);


}
.heading{
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: 20px;
  
}

.heading .h-1{
  color: rgba(255, 255, 255, 1);
}

.heading .h-2{
 

background:  linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
-webkit-background-clip: text;
background-clip: text;
color: transparent;
}

.btn{
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 600;
  padding: 13px 16px;
  color:  rgba(255, 255, 255, 1);
  border-radius: 10000px;
background:  linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
transition: transform 3s;

}

.btn:hover{
transform: rotate(30deg);
cursor: pointer;
  /* width: 150px; */
  
}
/* banner design */
.banner-section{
 background-image: url("../assets/hero-bg.png");
 min-height: 100vh;
 
}
 .mic-img{
  position: relative;
  width: 350px;
  height: 350px;
  margin: 0 auto;
  top: 100px;
  margin-bottom: 40px;
  animation: myRotate 3s infinite alternate;
  

}
@keyframes myRotate{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
.circle{
  width: 100%;
  display: block;
}
.micro{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

}
.badge{
  position: absolute;
  top: 10%;
  right: 5%;
  border-radius: 1000px;
box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
background:  rgba(0, 255, 136, 1);
width: 75px;
height: 38px;
/* color: black; */
font-size: 1.15rem;
padding: 8px 16px;
color: #000;
font-weight: 700;
z-index: 10;
transform: transform 3s;

}
.badge:hover{
  transform: rotate(30deg);
  cursor: pointer;
}
.banner-h{
  text-align: center;
  margin-top: 121px;
}
.banner-h>h3{
  color: rgba(255, 255, 255, 1);
font-size: 3.7rem;
font-weight: 800;
}
.banner-h>p{
color: rgba(255, 255, 255, 1);
font-size: 1rem;
font-weight: 400;
margin-bottom: 24px;

}
 .btn-1{
  border-radius: 10000px;
background:  linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
padding: 12px 20px;
color: white;
font-size: 1rem;
font-weight: 600;
transition: transform 3s;
}
.btn-1:hover{
  transform: rotate(30deg);
  cursor: pointer;
}

.btn-2{
  box-sizing: border-box;
border: 1px solid  rgba(0, 255, 136, 1);
border-radius: 10000px;
padding: 12px 20px;
background: transparent;
color: rgba(0, 255, 136, 1);
transition: transform 3s ;
}

.btn-2:hover{
  transform: rotate(30deg);
  cursor: pointer;
}
/* podcast design */
.podcast-section{
  width: 90%;
 /* max-width: 1200px ;  */
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 16px;
}
.podcast-text>h3{
  color:  rgba(255, 255, 255, 1);
font-size: 3rem;
font-weight: 700;}
.podcast-text>p{
  color:  rgba(255, 255, 255, 0.555);
font-size: 1rem;
font-weight: 400;
margin-bottom: 80px;
}
.pod-card{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 80px;
}
.pc-1 h3{
  color:  rgba(0, 255, 136, 1);
font-size: 3rem;
font-weight: 900;

}
.pc-1 p{
  color:  rgba(255, 255, 255, 0.555);
font-size: 1rem;
font-weight: 400;

}















/* responsive design */
@media  screen and (max-width:576px) {
  .menu-section{
    display: none;
  }
  .btn-container{
    display: none;
  }
  .navbar{
  margin-left: 5px;
  }
  .navbar>span{
  margin-right: 5px;
  color: antiquewhite;
  margin-top: 25px;
  font-size: 24px;
  display: inline;
}
.banner-section{
  height: auto;
  flex-direction: column;
  align-items: center;
  text-align: center;

  
}
.mic-img{
  height: 250px;
  width: 250px;
 }
.pod-card{
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}
.podcast-section{
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  
}
.podcast-text{
  width: 100%;
  padding: 0 10px;
}
.podcast-text h3{
  font-size: 1.3rem;
}
.pc-1{
  width: 100%;
  margin-bottom: 20px;
}
}